* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.header {
  height: 4rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 1.25rem;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.header--image {
  height: 1.96rem;
  margin-right: 0.32rem;
}

.header--title {
  margin-right: auto;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.52rem;
  letter-spacing: -10%;
}

.header--project-num {
  margin-right: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.91rem;
}